{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <h2>Guess The Word</h2>

    <hr>

    <form method="POST">

        <div class="mb-3">

            <label class="form-label">
                Enter a 5-letter word
            </label>

            <input
                type="text"
                name="guess"
                maxlength="5"
                class="form-control"
                style="text-transform: uppercase;"
                required>

        </div>

        <button class="btn btn-primary">
            Submit Guess
        </button>

    </form>

    <hr>

    <h4>Previous Guesses</h4>

    {% for guess in guess_results %}

        <p>

        {% for i in range(5) %}

            <span
                style="
                    display:inline-block;
                    width:40px;
                    height:40px;
                    line-height:40px;
                    text-align:center;
                    color:white;
                    margin:2px;
                    background-color:{{ guess.colors[i] }};
                ">

                {{ guess.word[i] }}

            </span>

        {% endfor %}

        </p>

    {% endfor %}

</div>

{% endblock %}