{% extends "base.html" %}

{% block content %}

<div class="container">

<h2 class="text-center mt-4">

Guess The Word

</h2>

<div class="game-board">

{% for guess in guess_results %}

<div class="row-box">

{% for i in range(5) %}

<div class="letter-box {{ guess.colors[i] }}">

{{ guess.word[i] }}

</div>

{% endfor %}

</div>

{% endfor %}

{% for i in range(5 - guess_results|length) %}

<div class="row-box">

{% for j in range(5) %}

<div class="letter-box empty">

</div>

{% endfor %}

</div>

{% endfor %}

</div>

<hr>

<form method="POST">

<input

type="text"

name="guess"

maxlength="5"

class="form-control"

style="text-transform:uppercase"

required>

<br>

<button class="btn btn-primary">

Submit Guess

</button>

</form>

</div>

{% endblock %}